<div *ngIf="patientCollection.length > 0; else noData">
    <table class="highlight">
        <thead class="align-center">
            <tr>
                <th class="center-align">Nombre completo</th>
                <th class="center-align">Número seguro social</th>
                <th class="center-align">Código postal</th>
                <th class="center-align">Teléfono de contacto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patientCollection; let i = index" class="center-align">
                <td class="center-align">{{patient.FullName}}</td>
                <td class="center-align">{{patient.SocialSecurityName}}</td>
                <td class="center-align">{{patient.PostCode}}</td>
                <td class="center-align">{{patient.TelephoneContact}}</td>
                <td class="center-align">
                    <button [value]="patient.Id" (click)="deletePatient(patient.Id)" class="btn modal-trigger waves-effect waves-light grey">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noData>
    <h6>No existen pacientes registrados</h6>
    <button (click)="redirectToPage('/patient/new')" class="waves-effect lighten-1 btn center-align gray">
        Registrar paciente
    </button>
</ng-template>