<h6 class="header center">Ingresa los siguientes datos</h6>
<br>
<form role="form" (ngSubmit)="newPatient(formNew)" #formNew="ngForm">
    <div class="row center">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s4">
                    <input id="fullName" name="fullName" type="text" class="validate" required [(ngModel)]="patient.FullName" #fullName="ngModel">
                    <label for="fullName">Nombre completo</label>
                </div>
                <div class="input-field col s4">
                    <input id="socialSecurityName" name="socialSecurityName" type="number" class="validate" required [(ngModel)]="patient.SocialSecurityName" #socialSecurityName="ngModel">
                    <label for="socialSecurityName">Número seguro social</label>
                </div>
                <div class="input-field col s4">
                    <input id="postCode" name="postCode" type="number" class="validate" required [(ngModel)]="patient.PostCode" #postCode="ngModel" minlength="11" maxlength="40">
                    <label for="postCode">Código postal</label>
                </div>
                <div class="input-field col s4">
                    <input id="telephoneContact" name="telephoneContact" type="number" class="validate" required [(ngModel)]="patient.TelephoneContact" #telephoneContact="ngModel" minlength="7" maxlength="40">
                    <label for="telephoneContact">Teléfono / Celular</label>
                </div>
                <div class="col s12">
                    <div class="col s6">
                        <button type="submit" class="waves-effect lighten-1 btn center-align green">
                        Registrar
                    </button>
                    </div>
                    <div class="col s6">
                        <button (click)="redirectToPage('patient/list')" class="waves-effect lighten-1 btn center-align blue">
                        Ver pacientes
                    </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <span>{{validation}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>