<div>
    <nav class="light-blue lighten-1">
        <div class="nav-wrapper container">
            <span class="center">Hospital app</span>
        </div>
    </nav>
    <div class="container">
        <br>
        <br>
        <router-outlet></router-outlet>
    </div>
</div>