<h4 class="header center">Hola! bienvenido a nuestra aplicación</h4>
<br>
<br>
<div class="row center">
    <div class="col s9 m12">
        <div class="col s6 center-align">
            <a class="btn-large waves-effect waves-light orange" (click)="redirectToPage('/patient/new')">Registrar paciente</a>
        </div>
        <div class="col s6 center-align">
            <a class="btn-large waves-effect waves-light green" (click)="redirectToPage('/patient/list')">Ver pacientes</a>
        </div>
    </div>
</div>
<hr>